:root {
  --color-primary-light: rgb(245, 201, 4);
  --color-primary-dark: rgb(245, 173, 4);
  --color-primary-dark-2: rgb(190, 124, 2);

  --color-grey-dark-1:#333;
  --color-grey-dark-2:#777;
  --color-grey-dark-3:#999;

  --shadow-dark: 0 2rem 2rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Cormorant', serif;
}