:root {
  --color-primary-light: rgb(245, 201, 4);
  --color-primary-dark: rgb(245, 173, 4);
  --color-primary-dark-2: rgb(190, 124, 2);
  --color-grey-dark-1:#333;
  --color-grey-dark-2:#777;
  --color-grey-dark-3:#999;
  --shadow-dark: 0 2rem 2rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Cormorant", serif;
}

.login-page {
  display: flex;
}

.login {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.login__box {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
}
.login__title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.5rem;
  color: var(--color-primary-dark);
}
.login__input, .login__input:focus {
  padding: 0.5rem;
  width: 40rem;
  margin-top: 2rem;
  border: none;
  border-bottom: solid var(--color-primary-dark) 1px;
  outline: none;
}
.login__input:focus {
  background-color: rgb(231, 231, 231);
}
.login__button {
  margin-top: 4rem;
  padding: 1rem;
  width: 40rem;
  text-transform: uppercase;
  background-color: var(--color-primary-dark);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  border-radius: 2px;
}
.login__button:disabled {
  background-color: rgba(214, 214, 214, 0.514);
  cursor: auto;
}

.login-wallet-box {
  background-image: url(./images/bitcoin.png);
  background-position: -14rem 3rem;
  width: 50%;
  height: 100vh;
}

.header {
  background-color: var(--color-grey-dark-1);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}
.header__total {
  display: flex;
}

.coin {
  margin-left: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30rem;
  background-color: rgb(238, 238, 238);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 3rem;
  font-family: sans-serif;
}
.form__label {
  display: flex;
  flex-direction: column;
  color: var(--color-primary-dark-2);
}
.form__input, .form__select {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border: none;
  border-bottom: solid var(--color-primary-dark) 1px;
  outline: none;
  width: 80%;
  background-color: white;
  color: var(--color-grey-dark-3);
}
.form__button {
  padding: 1rem;
  text-transform: uppercase;
  background-color: var(--color-primary-dark);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 2px;
  width: 80%;
}

.wallet {
  display: flex;
}

.table {
  width: 100rem;
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
  background-color: var(--color-primary-dark);
  overflow: scroll;
  box-shadow: var(--shadow-light);
}
.table__button {
  font-family: sans-serif;
  font-weight: 700;
  padding: 0.7rem;
  font-size: 1rem;
  font-size: 1.2rem;
  color: red;
  border: none;
  background-color: white;
  cursor: pointer;
}

.table-section {
  max-width: 200rem;
  margin-top: 3rem;
  width: 100%;
  overflow: scroll;
  max-height: 97vh;
}

th {
  align-items: center;
  background-color: var(--color-primary-dark);
  padding: 1rem;
}

td {
  background-color: white;
  padding: 1rem;
}

/*# sourceMappingURL=index.css.map */
